{% extends 'base.html' %}

{% block title %}使い方 - Listen Wave Equation{% endblock %}

{% block content %}
{% include 'include/header.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="my-3">
	<h3 class="text-center">使い方</h3>
	<ol>
	  <li class="my-2">パラメーターを入力します。各パラメータの意味については、ページ上部の方程式を参照してください。</li>
	  <li class="my-2">初期条件を入力します。プロットエリアをクリックすると新しいノードが追加されます。ノードをクリックするとそのノードが削除されます。</li>
	  <li class="my-2">出力ボタンをクリックし、計算が完了するのを待ちます。計算の進行状況はすぐ下のプログレスバーで確認することができます。</li>
	  <li class="my-2">現れた音声プレーヤーを再生します。</li>
	</ol>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div style="height: 2.5cm"></div>
{% endblock %}
