<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.html">Listen Wave Equation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <div id="navigation-container" class="collapse navbar-collapse">
	<ul class="navbar-nav">
	  <li class="nav-item">
	    <a class="nav-link" href="./how-to-use.html">使い方</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="https://github.com/fdagt/listen-wave-equation" target="_blank" rel="noopener noreferrer">レポジトリ</a>
	  </li>
	</ul>
      </div>
    </div>
  </nav>
</header>
